{% extends 'base.html' %} {% block content %}
<h1>Register</h1>
<form method="POST">
  {% csrf_token %}
  <div>{{form.username.label}} {{form.username}}</div>
  <div>{{form.email.label}} {{form.email}}</div>
  <div>{{form.password1.label}} {{form.password1}}</div>
  <div>{{form.password2.label}} {{form.password2}}</div>
  <button type="submit">Submit</button>
</form>
<button><a href="{% url 'loginView' %}">Login</a></button>
<button><a href="{% url 'homeView' %}">Go back</a></button>
{% endblock %}
